<ion-modal-view>
  <ion-header-bar class="rolodex-header" >
    <h1 class="title">
      Add New Website
    </h1>
    <div class="buttons">
      <button class="button button-dark" ng-click="closeNewProfileForm(3)">
        Close
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <h1>Website Link:</h1>
    <form submit="">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Nickname:</span>
          <input type="text" ng-model="webData.name" placeholder="Home">
        </label>
        <br>
        <label class="item item-input">
          <input type="text" ng-model="webData.link">
        </label>
        <br>
        <button class="button button-full button-positive" type="submit"
              ng-click="addNewWeb()">
          Add
        </button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
