<ion-modal-view>
  <ion-header-bar class="rolodex-header" >
    <h1 class="title">
      Profile Selector
    </h1>
    <div class="buttons">
      <button class="button button-dark" ng-click="closeProfileSelector()">
        Close
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <ion-list>
    <ion-item ng-repeat="profile in profileDB[0].profileRefs">
      <div class="card" ng-click="selectProfile(profile)">
        <div class="item item-divider">
          {{profile.profileName}}
          <div ng-if=profile.data>
            <button class="button button-icon icon ion-ios-checkmark">
            </button>
          </div>
        </div>
        <div class="item item-avatar item-text-wrap">
          <img ng-src="{{getImageLink(profile.profilePicture)}}" alt="My Picture">
          <h2>{{profile.firstName}} {{profile.lastName}}</h2>
          <p>{{profile.title}}</p>
        </div>
      </div>
    </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
