<ion-modal-view>
  <ion-header-bar class="rolodex-header" >
    <h1 class="title">
      Pending Requests
    </h1>
    <div class="buttons">
      <button class="button button-dark" ng-click="closePendingRequests()">
        Close
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <ion-list>
    <ion-item ng-repeat="request in requestInfo.requests">
      <div class="card" ng-click="showRequestProfile()">
        <div class="item item-divider">
          {{request.profileId.profileName}}
        </div>
        <div class="item item-avatar item-text-wrap">
          <img ng-src="{{getImageLink(request.profileId.profilePicture)}}" alt="My Picture">
          <h2>{{request.profileId.firstName}} {{request.profileId.lastName}}</h2>
          <p>{{request.profileId.title}}</p>
          <ion-option-button class="button-positive"
            ng-click="acceptRequestProfile(request)">
            Accept
          </ion-option-button>
          <ion-option-button class="button-assertive"
            ng-click="rejectRequestProfile(request)">
            Reject
          </ion-option-button>
        </div>
      </div>
    </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
